{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Door Access | Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">

</head>
<body>
    <div class="container-fluid main">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                 <div class="login-side">
                    <div class="login-form">
                        <h3 class="LoginTitle">Login</h3>
                        <div class="login">
                            <form>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="btn">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                              </form>
                        </div>
    
                    </div>
    
                 </div>
                </div>
                <div class="col-sm">
                  <div class="message-side">
                      <div>
                        <p class="p">Welcome to Door Access Project</p>
                    </div>
                    <div class="message_logo">
                        <img src="{% static 'images/logo.jpg' %}" alt="" height="100%" width="100%">
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</body>
</html>