*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
font-size: 14px;
font-family:sans-serif ;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14rem auto;
}
.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.login-side{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.message-side{
    background-color: rgb(107, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 14%;
    padding-bottom: 14%;
    gap: 3rem;
}
.p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.login-side .login-form{
    padding-bottom: 14%;
    border-radius: 5%;
    width: 70%;
    padding-top: 10%;
}
.login{
    width: 70%;
    height: 70%;
    margin-left: 15%;

}

.LoginTitle{
    margin-bottom: 25%;
    padding-left: 40%;
}
.btn{
    margin-left: 50%;
}
.message_logo{
    width: 43%;
    height: 36%;
}
.form-control{
    border-bottom: 2px solid brown !important;
    outline: none !important;
}
.form-control:focus{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none !important;
}